<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
  <section class="mainwin">
    <div class="main-posts-container">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
              <div class="main-posts-single-container">
                <a id="main-posts-single" href="/posts/<%= post._id %>">
                  <div id="main-posts-desc" tabindex="0">
                    <div id="main-posts-desc-title"><%= post.title %></div>
                    <div>
                      <div id="main-posts-desc-username"><%= post.author.username %></div>
                      <div id="main-posts-desc-date"><%= date.format(post.createdAt, 'yyyy  MMMM dd  HH:mm') %></div>
                    </div>
                  </div>
                </a>
              </div>
              <% }) %>
            <% } else { %>
              <p>There are no blogs to display...</p>
            <% } %>
      </div>
  </section>
</body>
</html>