<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <section class="profilewin">
        <div class="profile-flex">
            <% if (profile.boolean.avatar) { %>
                <div class="profile-avatar-space">
                    <img src="data:image/<%=profile.avatarType%>;base64,<%=profile.avatar.toString('base64')%>">
                </div>
            <% } else { %>
                <div class="profile-avatar-space">

                </div>
            <% } %>
            <div class="profile-bio">
                <div id="profile-username"><em>Username:</em> <%= profile.username %></div>
                <% if (Auth&&profile.admin) { %>
                <div><em>Status:</em> Admin</div>
                <% } else if (Auth&&profile.mod) { %>
                <div><em>Status:</em> Mod</div>
                <% } %>
                <div><em>Registration date:</em><%= date.format(profile.createdAt, 'yyyy  MMMM dd  HH:mm') %></div>
            </div>
        </div>
        <div class="userPosts">
            <% if (userPosts.length > 0) { %>
                <% userPosts.forEach(post => { %>
                    <a href="/posts/<%=post._id%>" id="user-posts-link"> <div id="user-posts-title"><%= post.title %></div>
                    <div id="user-posts-date"><%= date.format(post.createdAt, 'yyyy  MMMM dd  HH:mm') %></div> </a>
                    <div id="user-posts-line"></div>
                <% }) %>
            <% } %>
        </div>
    </section>
</body>
</html>